# OS files
.DS_Store
Thumbs.db

# Editor settings
.vscode/

# Logs
*.log

# Dependencies and builds
node_modules/
.next/

# Environment files
.env
.env.*

# Local database
prisma/dev.db
prisma/dev.db-journal
